@use "../abstracts/grid";
@use "../abstracts/mixins";

.row {
    max-width: grid.$grid-width;
    background-color: #eee;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: grid.$gutter-vertical;
    }

    @include mixins.clearfix;

    .col-1-of-2 {
        width: calc((100% - #{grid.$gutter-horizontal})/2);
        background-color: orangered;
        float: left;

        &:not(:last-child){
            margin-right: grid.$gutter-horizontal;
        }   
    }

}