@use "../abstracts/colors";

.section-about {
    padding: 30rem 0;
    background-color: colors.$grey-light-1;
    transform: translateY(-20rem);
    z-index: 10;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba(colors.$primary-light, 0.8), 
        rgba(colors.$primary-dark, 0.8)), 
        url(../img/nat-4.jpg);
    background-size: cover;

    transform: skewY(-7deg) translateY(-29rem);

    & > * {
        transform: skewY(7deg)
    }
}